# 依赖包 (Dependencies)
/node_modules/

# 构建产物 (Build Output)
/dist/
/out/
yarn-error.log
npm-debug.log*

# 运行时/本地数据 (Local Data)
/data/*
!/data/.gitkeep

# 配置文件与环境变量 (Configs & Environment)
/config.js
.env*.local

# 系统与编辑器杂项 (System & IDEs)
.DS_Store
Thumbs.db

# JetBrains IDE (WebStorm / CLion 等)
.idea/

# VS Code
.vscode/
*.code-workspace
